{% extends 'base.html.twig' %}

{% block title %}Nouvelle Episode{% endblock %}

{% block body %}
<div class="container">
    <h1 class="text-center mt-5 mb-5 text-uppercase">Créer un nouvelle episode</h1>
    <div class="form-control bg-dark text-white">
        {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
    </div>

</div>

    {{ include('episode/_form.html.twig') }}

    <a href="{{ path('episode_index') }}">back to list</a>
{% endblock %}
