{% extends 'base.html.twig' %}

{% block title %}Nouvelle Saison{% endblock %}

{% block body %}
<h1>Creer une nouvelle saison</h1>

{{ include('season/_form.html.twig') }}

<a href="{{ path('season_index') }}" class="btn btn-outline-dark">Retourner à la liste</a>
{% endblock %}